<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce.MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/animacao/animacao.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/header/headerMobile.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/header/headerDesktop.css" media="(min-width: 1220px)" asp-append-version="true">
    <link rel="stylesheet" href="/css/comun/comunDesktop.css" media="(min-width: 1220px)" asp-append-version="true">

    <link rel="stylesheet" href="/css/modalCommun/modalCommun.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/modalVerMais/modalVerMais.css" asp-append-version="true">
    
    <link rel="stylesheet" href="/css/home/homeMobile.css" media="(max-width: 1199px)" asp-append-version="true">
    <link rel="stylesheet" href="/css/home/homeDesktop.css" media="(min-width: 1200px)" asp-append-version="true">
    <link rel="stylesheet" href="~/Ecommerce.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    @* <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet"> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="container-fluid container-lg px-0">
    
    @await Html.PartialAsync("Partials/_Animacao.cshtml")
    @await Html.PartialAsync("Partials/_LoadingSpinner.cshtml")
    @await Component.InvokeAsync("Header")

    <div class="mx-0 mx-xl-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("Partials/_ModalVerMais.cshtml")
    @await Html.PartialAsync("Partials/_ModalContaCliente.cshtml")
    @await Html.PartialAsync("Partials/_ModalAcompanhamento.cshtml")
    @await Html.PartialAsync("Partials/_ModalFinalizarPedido.cshtml")



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
