@{
    ViewData["page"] = "Dashboard";
    ViewData["Title"] = "Página em construção";
    @* ViewData["Description"] = "Monitore informações estratégicas e acompanhe o desempenho geral do sistema."; *@
}
<div class="d-flex flex-column justify-content-center align-items-center mt-4 text-center">
    <div class="card shadow-sm border-0 p-4" style="max-width: 500px;">
        <div class="mb-3">
            <i class="fas fa-tools fa-3x text-warning"></i>
        </div>

        <h3 class="fw-bold">Página em construção</h3>

        <p class="text-muted mb-4">
            Essa funcionalidade ainda está sendo desenvolvida.<br />
            Em breve estará disponível.
        </p>

        <a asp-area="Admin" asp-controller="Pedidos" asp-action="Index" class="btn btn-primary">
            Voltar para o início
        </a>
    </div>
</div>