/* Banner */

.hero-wrapper {
    position: relative;
    margin-bottom: 130px; 
}

.hero-banner {
    height: 300px;
    background-image: url(sopa2.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin: 16px;
}

.hero-header {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -110px; 
    margin-left: auto;
    margin-right: auto;
    background: #4A2A15;
}

/* Títulos */
.titulo-principal {
    font-size: clamp(1.5rem, 3vw, 2.0rem);
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}

.titulo-secundario {
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 500;
    color: #f5e6d3;
}

.titulo-localizacao {
    font-size: 0.9rem;
    color: #e0c9a6;
}

/* Logo principal */
.logo-img {
    max-height: clamp(90px, 10vw, 140px);
    width: auto;
    border-radius: 7px;
}


/* Redes sociais */
.social-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
    /* background: #696969 !important; */
}

.social-btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.phone {
    background: #0d6efd;
}

.instagram {
    background: linear-gradient(45deg,
        #f58529,
        #dd2a7b,
        #8134af,
        #515bd4);
}

.facebook {
    background: #1877f2;
}

.whatsapp {
    background: #25d366;
}

/* Menu horizontal */
.btn-entrar {
    background: #ffffffad;
    color: #3b2f2f !important;
    font-weight: 600;

    /* TEXTO */
    font-size: clamp(0.7rem, 2.5vw, 0.95rem);

    /* ESPAÇAMENTO */
    padding: clamp(6px, 1.8vw, 10px) clamp(10px, 3vw, 16px);

    /* ALTURA */
    height: clamp(34px, 6vw, 40px);

    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(6px, 1.5vw, 8px);

    white-space: nowrap;
    flex-wrap: nowrap;
    min-width: max-content;

    box-shadow: 0 6px 16px rgba(59, 47, 47, 0.25);
    transition: all 0.25s ease;
}

.btn-entrar i {
    font-size: 0.95rem;
}

.btn-entrar:hover {
    box-shadow: 0 10px 24px rgba(59, 47, 47, 0.35);
    background: linear-gradient(135deg, #e0cbb8af, #cdb49fb2);
    color: #ffffff !important;
    transform: translateY(-1px);
}

.btn-entrar.ver-mais {
    background: #ffffff;
    color: #3b2f2f; 
    transition: background-color .2s ease, color .2s ease;
}

.btn-entrar.ver-mais:hover {
    background: rgba(230, 162, 60, 0.18); 
    color: #4A2A15;                      
}

.btn-entrar:active {
    box-shadow: 0 4px 10px rgba(59, 47, 47, 0.2);
}

