<div class="modal fade" id="modalContaCliente" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bc-modal" style="border-radius: 5px;">
        <div class="modal-header border-0 d-flex align-items-center justify-content-between">
            <div class="text-start">
                <h5 class="modal-title fw-bolder mb-0" style="color: #3c1e0a; font-weight: bold !important; font-size: 1rem; margin-bottom: 0.5rem !important;" >
                    <i class="fa-solid fa-basket-shopping" style="font-size: 0.85rem; color: #3c1e0a;"></i>
                    Histórico de Pedidos
                </h5>
                
            </div>
            <button type="button" class="btn-close-custom" title="Fechar" data-bs-dismiss="modal" aria-label="Fechar" style="position: static; font-size: 1.5rem; margin-top: -23px;">&times;</button>
        </div>
        <div class="modal-body" id="modalContaClienteBody">
            <div class="text-muted">Carregando...</div>
        </div>
    </div>
  </div>
</div>
