<div class="modal fade" id="modalContaCliente" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bc-modal" style="border-radius: 20px;">
        <div class="modal-body" id="modalContaClienteBody">
            <div class="text-muted">Carregando...</div>
        </div>
    </div>
  </div>
</div>
