@* <div class="modal fade" id="modalAcompanhamentoCliente" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bc-modal" style="border-radius: 5px;">
      <div class="modal-body" id="modalAcompanhamentoClienteBody">
        <div class="text-muted">Carregando...</div>
      </div>
    </div>
  </div>
</div> *@


<style>
    .shadow-sm-hover:hover {
        background-color: #f8f9fa !important;
        border-color: #dee2e6 !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
        transform: translateY(-2px);
    }
    .transition-all { transition: all 0.2s ease-in-out; }
    .extra-small { font-size: 0.75rem; }
</style>
<div class="modal fade" id="modalAcompanhamentoCliente" tabindex="-1" aria-labelledby="modalAcompanhamentoClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bc-modal border-0 shadow-lg" style="overflow: hidden;">
           <div class="modal-header border-0 d-flex align-items-center justify-content-between">
                <div class="text-start">
                    @* <h5 class="modal-title fw-bolder mb-0" style="color: #3c1e0a; font-weight: bold !important; font-size: 1rem; margin-bottom: 0.5rem !important;" >Acompanhar Pedidos</h5> *@
                    <h5 class="modal-title fw-bolder mb-0" style="color: #3c1e0a; font-weight: bold !important; font-size: 1rem; margin-bottom: 0.5rem !important;" ><i class="fa-solid fa-fire me-2"></i>Acompanhe seu Pedido</h5>
                </div>
                <button type="button" class="btn-close-custom" title="Fechar" data-bs-dismiss="modal" aria-label="Fechar" style="position: static; font-size: 1.5rem;">&times;</button>
            </div>

            <div class="modal-body pt-2 px-4" id="modalAcompanhamentoClienteBody">
                <div class="text-muted">Carregando...</div>
            </div>
        </div>
    </div>
</div>