.bc-tabs .nav-link {
    color: #6c757d;
    font-weight: 600;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

.bc-tabs .nav-link.active {
    color: #3c1e0a !important;
    background: none !important;
    border-bottom: 3px solid #d4a017 !important;
}

.bc-tabs .nav-link:hover {
    color: #d4a017;
}

.bc-section-title {
    color: #3c1e0a;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.bc-link {
    color: #d4a017;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
}

.bc-link:hover {
    text-decoration: underline;
}

.bc-footnote {
    font-size: 0.75rem;
    color: #adb5bd;
}

.modal-header .btn-close-custom {
    font-size: 1.5rem;
    padding: 0;
    margin-top: -10px;
}

.btn-close-custom {
    background: none;
    border: none;
    font-size: 1.4rem;
    line-height: 1;
    color: #3c1e0a; 
    font-weight: bold;
    cursor: pointer;
    z-index: 1050; 
    transition: transform 0.2s ease;
}

@media (max-width: 768px) {
    .btn-close-custom {
        color: #3c1e0a; 
    }
}

.btn-close-custom:hover {
    transform: scale(1.2);
    color: #d4a017;
}

/* body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
} */

.modal-backdrop.show {
    opacity: 0.8; 
    background-color: #0000004f;
} 

.bc-modal--animated .modal-dialog {
  transform: translateY(20px) scale(0.98);
  opacity: 0;

  transition:
    transform 0.35s cubic-bezier(.22, 1, .36, 1),
    opacity 0.25s ease;
}

.bc-modal--animated.show .modal-dialog {
  transform: translateY(0) scale(1);
  opacity: 1;
} 