html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}


body {
  margin-bottom: 60px;
  background: linear-gradient(
    180deg,
    #f7efe4 0%,
    #f5f6f8 1200px,
    #f1f3f6 100%
  );
}

@import url("./animacao/animacao.css");
@import url("./header/headerMobile.css");

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1220px) {
  @import url("./header/headerDesktop.css");
  @import url("./comun/comunDesktop.css");

}